body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

h1 {
    margin-bottom: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 90vw; /* Use viewport width for responsiveness */
    height: 90vw; /* Keep it square */
    max-width: 960px;
    max-height: 960px;
    border: 5px solid #000000;
}

.grid-square {
    flex: 1 0 auto;
    width: calc(90vw / 16); /* Adjust width */
    height: calc(90vw / 16); /* Adjust height */
    max-width: calc(960px / 16);
    max-height: calc(960px / 16);
    box-sizing: border-box;
}

.grid-square:hover {
    background-color: #6806c9;
}

button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #6111c9;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}
